<!DOCTYPE html>
<html>
<head>
	<title>Document</title>
</head>
<body>
	
     <table border="1">
     	<thead>
     		<td>Name</td>
     		<td>Address</td>
     		<td>City</td>
     		<td>Pincode</td>
     		<td>EDIT</td>
     		<td>DELETE</td>
     	</thead>
     	{% for row in rows %}

     	<tr>
     		<td>{{row['Name']}}</td>
     		<td>{{row['Address']}}</td>
     		<td>{{row['City']}}</td>
     		<td>{{row['Pincode']}}</td>
     		<td><a href="">EDIT</a></td>
     		<td><a href="">DELETE</a></td>
     	</tr>
     	{% endfor %}
     </table>

     <a href="/">Go to Home</a>
</body>
</html>